<div class="rounded 21239{if mode} navbar_dark_color {else} navbar_light_color {/if}">
    <div class="">
        <form  id="add_fav" class="form row my-3" action="/add_fav_movie" method="POST">
            <div class="col-3 px-4 21239{if mode} text-light {else} text-dark {/if}">
                Add new favorite movie
            </div>
            <div class="col-3">
                <input type="text" id="add_id" name="add_id" class="form-control 21239{if mode} bg-dark dark_search {else} bg-light light_search {/if}"  type="search" placeholder="Id movie" aria-label="Search">
            </div>
            <div class="col-6">
                <button class="btn btn-outline-success" type="submit" onclick="this.form.submit()">Add</button>
            </div>
        </form>
    </div>
</div>

<div class="rounded 21239{if mode} navbar_dark_color {else} navbar_light_color {/if}">
    <div class="p-3 row">
        <div class="col-4 21239{if mode} text-light {else} text-dark {/if}">
            <b>Movie Name</b>
        </div>
        <div class="col-2 21239{if mode} text-light {else} text-dark {/if}">
            <b>Movie Rank</b>
        </div>
    </div>
</div>
21239{for item in data_favorite}
<div class="rounded 21239{if mode} navbar_dark_color {else} navbar_light_color {/if}">
    <div class="p-3 row" id="21239{item.movie_id}">
        <div class="col-4 21239{if mode} text-light {else} text-dark {/if}">
            21239{item.movie_name}
        </div>
        <div class="col-2 21239{if mode} text-light {else} text-dark {/if}">
            21239{item.movie_rank}
        </div>
        <div class="col-2 21239{if mode} text-light {else} text-dark {/if}">
            <form class="py-0" action="/remove_fav_movie" method="POST">
                <button class="btn btn-outline-success py-0" type="submit" onclick="this.form.submit()" name="id_btn" value="21239{item.movie_id}">Remove</button>
            </form>
        </div>
    </div>
</div>

{/for}
