<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    21239{+ css}
    <title>21127239</title>
    <link rel="stylesheet" href="/landingpage.css"/>
</head>
<body class="21239{if mode} body_dark {else} body_light {/if}">
    <div class="container-md">
        <!-- 21239{if mode}
            <p>Hello</p>
        {else}
            <p>Hi</p>
        {/if} -->
            

        <div class="row my-1 mx-0">
            <div class="col-12 mb-2">
                21239{+ header}
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12 mb-2">
                21239{+ nav_bar}
            </div>
        </div>
        21239{+ popular_rating5}
        
        <!-- <div class="row my-1 px-1">
            3333
        </div>
        <div class="row my-1 px-1">
            <div class="col-12 px-0">
                11111
            </div>
        </div> -->
    </div>
    
</body>
</html>