
        <nav class="  rounded 21239{if mode} navbar_dark_color {else} navbar_light_color {/if}">
            <div class="row navbar navbar-expand-md">
                <div class="col-3">
                    <div class="nav navbar-nav navbar-left ">
                        <a class="px-4 21239{if mode} text-light {else} text-dark {/if}" href="/">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mx-5 px-auto order-0  navbar-brand text-center">
                        <a class="navbar-brand 21239{if mode} text-light {else} text-dark {/if}" href="/edit_fav">21239</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class=" px-4 nav navbar-nav navbar-right" >
                        <form class="d-flex" role="search" action="/layouts_search" method="POST">
                            <!-- <select class="form-select form-select-sm size_box" name="mode_search" id="mode_search">
                                <option value="movie">Movie</option>
                                <option value="name">Name of Actor</option>
                            </select> -->
                            <input name="search" class="form-control 21239{if mode} bg-dark dark_search {else} bg-light light_search {/if}"  type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" onclick="this.form.submit()">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <!-- <div class="navbar-nav mx-auto">
                
            </div> -->
            
            
                
        </nav>

