<div class="col-12 my-4">
    <div class="row">
        <div class="col-2" style="display: flex; align-items:center; justify-content: end;">
            <form id="pre_top5" action="/pre_top5" method="POST">
                <div onclick="$(`#pre_top5`).submit()" class=" d-flex justify-content-center 21239{if mode} text-light {else} text-dark {/if}" style="margin: auto; cursor: grab">
                    <i class="fa-solid fa-less-than"></i>
                </div>
            </form>
            
        </div>
        <div class="col-8" >
            <div class="row">
                <div class="text-center col-12" style="width:100%; cursor:grab;">
                    <div class="row" style="height:400px;">
                        <img src="21239{data_top5.image_link}" style="width: 100%; height: 100%; object-fit: contain;" id="picture_rev">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <b class="text-light z-3 position-relative text-center" style="margin-top: -90px; width: 30%" >21239{data_top5.movie_name}</b>
                    </div>
                    <div class="text-center" style="color: #b6a006; margin-top: -30px;">
                        [21239{data_top5.genes}]
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-2" style="display: flex; align-items:center; justify-content: start;">
            <form id="next_top5" action="/next_top5" method="POST">
                <div onclick="$(`#next_top5`).submit()" class="21239{if mode} text-light {else} text-dark {/if}" style="margin: auto; cursor: grab; padding:auto;  text-align:end">
                    <i class="fa-solid fa-greater-than"></i>
                </div>
            </form>
            
        </div>
    </div>
</div>