<div class="row mb-3 21239{if mode} text-light {else} text-dark {/if}">
    <b>
    Top Favorites
</div>
<div class="row">
    <div class="col-1" style="margin: auto;">
        <form id="pre_fav" action="/pre_fav" method="POST">
            <div onclick="$(`#pre_fav`).submit()" class="d-flex justify-content-end 21239{if mode} text-light {else} text-dark {/if}" style="margin: auto; cursor: grab">
                <a>
                    <i class="fa-solid fa-less-than"></i>
                </a>
                
            </div>
        </form>
    </div>
    <div class="col-10">
        <div class="row show_top">
            21239{for item in top_fav}
                <div class="top_movie">
                    <div class="border-3 rounded">
                        <img src="21239{item.image_link}" class="rounded z-n1" style="height:250px; width:100%;">
                        <b class="d-flex justify-content-center text-light z-3 position-relative text-center" style="margin-top: -50px; color: #b3b5b9">21239{item.movie_name}</b>
                    </div>  
                </div>
            {/for}
        </div> 
    </div>
    <div class="col-1" style="margin: auto;">
        <form id="next_fav" action="/next_fav" method="POST">
            <div onclick="$(`#next_fav`).submit()" class="21239{if mode} text-light {else} text-dark {/if}" style="margin: auto; cursor: grab">
                <a>
                    <i class="fa-solid fa-greater-than"></i>
                </a>
            </div>
        </form>
    </div>
    
</div>